@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;800&display=swap');


* {
    padding: 0px;
    margin: 0px;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    margin: 10px;
    padding: 10px 0 30px;
}

nav > a {
    font-family: 'Poppins';
    font-weight: 600;
    text-decoration: none;
    color: black;
    margin: 20px;
    
    transition: 0.2s;
}

nav > a:hover {
    color: black;
}


.logo {
    width: 150px;
    margin: 0px 10px 0px 10px;

}



.hero {
    background-image: url(imagenes/fondo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    
}

.texto_hero {
    font-family: 'Poppins';
    position: absolute;
    left: 10%;
    top: 30%;
}

h1 {
    color: white;
    font-weight: 600;
    font-size: 75px;
}

.texto_hero > h2 {
    font-weight: 200;
    color: white;
    padding: 30px 0px 40px 0px;
}

.boton_1 > button {
    padding: 15px;
    border: 2px solid white;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 900;
    text-decoration: none;
    color:#F53A50 ;
    transition: 0.3s;
}





.seccion_2 {
    margin: 50px;
}

.box {
    font-family: 'Poppins';
    font-weight: 600;
    display: flex;
    justify-content: space-evenly;
}

.img2 {
    width: 230px;
    box-shadow: 1px 1px 8px  #f53a504f;
    border: none;
    border-radius: 7px;
    margin: 20px 0px 30px 0px;
    transition: transform 0.2s;
}

.img2:hover {
    transform: scale(1.10);
}

.productrange {
    font-family: 'Poppins';
    margin: 0px 0px 30px 0px;
    font-size: 45px;
    display: flex;
    justify-content: center;
    color: #F53A50;
}

.texto_2 > h3 {
    color: #F53A50;
    font-size: 19px;
    padding: 0px 0px 20px 0px;

}

.texto_2 > p {
    font-size: 13px;
    line-height: 22px;
    font-weight: 300;
}

.boton_2 > button {
    font-family: 'Poppins';
    background-color: #F53A50;
    margin-top: 20px;
    font-weight: 600;
    color: white;
    border: 1px solid #F53A50;
    border-radius: 9px;
    padding: 15px 40px 15px 40px;
    transition: 0.3s;
    cursor: pointer;
}




.seccion_3 {
    background-image: linear-gradient(29deg, #C94970 0%, #AB1367 0%, #F53A50 83%, #FC697B 95.43895721435547%);
    padding: 50px 0px 120px 0px;
}

.texto_3 > h3 {
    font-family: 'Poppins';
    font-size: 45px;
    color: white;
    display: flex;
    justify-content: center;
    margin: 30px 0px 15px 0px;
}

.texto_3 > p {
    font-family: 'Poppins';
    font-weight: 200;
    text-align: center;
    font-size: 18px;
    color: white;
    display: flex;
    justify-content: center;
    margin: 5px 0px 30px 0px;
}

.boton_3 > button {
    position: absolute;
    right: 43%;
    margin-top: 10px;
    padding: 15px;
    text-align: center;
    justify-content: center;
    border: 2px solid white;
    font-weight: 900;
    border-radius: 8px;
    text-decoration: none;
    color:#F53A50 ;
    transition: 0.3s;
    cursor: pointer;
}






.seccion4 {
    line-height: 60px;
}

.imagen_4 > img {
    display: block;
    position: relative;  
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.we_make {
    position: absolute;
    color: white;
    font-family: 'Poppins';
    font-size: 40px;
    left: 55%;
    top: 267%;
    transform: translate(-25%, -235%);
    transition: 0.4s;
    cursor: default;
}





.seccion_5 {
    font-family: 'Poppins';
    padding: 0px;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    position: relative
}

.about {
    padding: 100px 0px 100px 0px;
}

.about > h2 {
    color: #F53A50;
    font-family: 'Poppins';
    font-weight: 600;
    padding-bottom: 35px;
    font-size: 45px;
}

.about > p {
    line-height: 27px;
    display: block;
    padding:4px 0px 10px 0px ;
    font-weight: 300;
    font-size: 17px;
    color: black;
    z-index: 1;
}


.fon_5 {
    position: relative;
    display: flex;
    right: 0px;
    left: 123px;
    bottom: 0px;
    width: 355px;
    height: 70vh;
    background: linear-gradient(138deg, rgba(252,105,123,1) 30%, rgba(194,29,95,1) 100%);
    z-index: -1;
    border-radius: 0px 0px 200px 0px;
}

.box5 {
    margin: 70px 0px 120px 0px;
    position: absolute;
    right: 513px;  
}

.cajas_5 > h3 {
    padding-bottom: 9px;
}

.cajas_5 {
    font-size: 13px;
    background-color: white;
    box-shadow: 0 0 4px #FC697B;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    z-index: 10;
    right: 40%;
    flex-direction: column;  
    margin: 40px;  
    padding: 15px 10px 15px 50px;
    transition: 0.2s;
}




.iconos_5 > img {
    width: 60px;
    display: flex;
    justify-content: left;
    position: absolute;
    right: 81%;
    border-radius: 5px;
}


/* SECCION 6 */

.seccion_reviews {
    background-color: #fff5f6;
    padding: 60px 90px 60px 90px;
}

.seccion_reviews > h2 {
    color: #F53A50;
    font-family: 'Poppins';
    font-weight: 600;
    padding-bottom: 60px;
    font-size: 45px;
    text-align: center;
}

.reviews {
    font-family: 'Poppins';
    font-weight: 600;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin: 0px 90px 0px 100px;
}

.box6 > h3 {
    color: #F53A50;
    font-family: 'Poppins';
    font-weight: 600;
    padding-bottom: 35px;
    font-size: 25px;
    text-align: center; 
}

.box6 > p {
    font-weight: 300;
    line-height: 25px;
}

.patita > img {
    width: 100px;
padding-left: 40px;
}


/* SECCION 7 */

.seccion_7 {
    display: flex;
    padding: 90px 90px 60px 90px;
    font-family: 'Poppins';

}

.izqui > img {
    width: 451px;
    padding: 61px 100px 40px 70px;
    margin-left: 25vh;
}

.derecha {
    margin: 20px 50px 20px 20px ;
    margin-left: 15vh;
}


.derecha > h2{
    color: #F53A50;
    font-weight: 600;
    padding-bottom: 20px;
    font-size: 45px;
}

.derecha > p {
    padding-bottom: 20px;
}

.sub_texto {
    padding-bottom: 20px;
}

.texto > span {
    color: #F53A50;
    font-weight: 600;
}

/* SECCION 8 */

.seccion_Warranty {
    background: #C94970;
    background-image: linear-gradient(29deg, #C94970 0%, #AB1367 0%, #F53A50 83%, #FC697B 95.43895721435547%);
    padding: 50px 0px 120px 0px;
}
.texto3 h3{
    font-family: 'Poppins';
    font-size: 45px;
    color: white;
    display: flex;
    justify-content: center;
    margin: 30px 0px 15px 0px;
}

.texto3 p{
    font-family: 'Poppins';
    font-weight: 200;
    text-align: center;
    font-size: 18px;
    color: white;
    display: flex;
    justify-content: center;
    margin: 5px 0px 30px 0px;

}


.boton_4 > button{
    position: absolute;
    right: 44%;
    margin-top: 10px;
    padding: 15px;
    border: 2px solid white;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 900;
    text-decoration: none;
    color:#F53A50 ;
    transition: 0.3s;
    justify-content: center;
    text-align: center;
}




/* SECCION 9 */

.seccion_Contact {
    padding: 90px;
    font-family: 'Poppins';
}

.seccion_Contact > h2 {
    display: block;
    color: #F53A50;
    font-family: 'Poppins';
    font-weight: 600;
    padding-bottom: 50px;
    font-size: 45px;
    text-align: center;
}

form {
    padding: 0px 90px 0px 180px;
    
}

.form_1 {
    display: flex;
    justify-content: center;
    padding: 0px 2px 30px 0px;
}

.form_2, .form_3 {
    
    justify-content: center;
    padding: 0px 40px 30px 40px;
}

label > span {
    color:#F53A50;

}

.sub_form1 > input {
    padding: 13px 75px 13px 30px;

}

.form_2  {
    padding: 13px 0px 20px 100px;
    margin-left: 30vh;
    }

.form_2 > input {
    padding: 13px 430px 13px 10px;
    margin-right: 0px;

}

.form_3 {
    justify-content: left;
    padding:10px 0px 20px 100px;
    margin-left: 30vh;
}

.form_3 > input {
    padding: 13px 435px 150px 10px;
    margin-right: 0px;
}

label {
    display: block;
    padding-bottom: 8px;
    padding-left: 5px;
    font-weight: 600;
}

input {
    margin-right: 60px;
    box-shadow: 1px 1px 8px  #f53a504f;
    border: none;
    border-radius: 7px;
}

.boton_contact {
    text-align: center;
    text-decoration: none;
    margin-right: 90px;
}

.boton_contac > button {
    font-family: 'Poppins';
    font-weight: 600;
    margin-top: 20px;
    padding: 15px 65px 15px 65px;
    background-color: #F53A50;
    border: 2px solid #F53A50;
    border-radius: 9px;
    color: white;
    transition: 0.2s ;
    cursor: pointer;
}





/* FOOTER */

.ante_final {
    background-image: linear-gradient(29deg, #C94970 0%, #AB1367 0%, #F53A50 83%, #FC697B 95.43895721435547%);
    padding-top: 60px;
    display: flex;
}

.ante_final > img {
    width: 30%;
    margin-left: 100px;

}

.icono_footer{
    position: absolute;
    right: 44%;
    padding: 80px 0px 0px 0px;

}

.ico {
    padding: 15px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.abajo {
    padding: 15px;
    text-align: center;
    font-size: 14px;
    font-family: 'Poppins';
    color: #AB1367;
    
}
